[Unit]
Description=Run hafence check for Carbonio HA
Requires=habeat.service

[Timer]
Unit=habeat.service
OnCalendar=*:0/5

[Install]
WantedBy=timers.target
