local:                                                      
  whoami: "secondary"                                       # The role of this VM
  dc_check: "primary"                                       # marker which dc script should check
  role: "appserver"                                         # supported roles: appserver
  checkDownFile: "/var/tmp/appserverdown-habeat"            # template for lock file related with down state
  checkPromotionFile: "/var/tmp/appserverprom-habeat"       # template for lock file related with promotion state
  checkRestartReplicaFile: "/var/tmp/appserverrstopha"      # only app server lock file for restart replica lock file
  provider: consul                                          # upported roles: consul
  threads: 5                                                # carbonio ha promotion number of threads
  disable_ha_module: false                                  # define if another app server down stop ha module of Carbonio
  flush_cache: true                                         # define if we need flush cache for accounts after promotion
  flush_arguments_a: true                                   # define if we need run flush cache for all application services. Used with  flush_cache: true
  restart_replica: false                                    # run ha restartReplicas accounts

primary:
  appserver_ip: 10.11.12.10                                 # IP Address of primary server
  appserver_vmname: primary_mailbox.example.com             # Hostname of primary server


secondary:
  appserver_ip: 10.11.12.20                                 # IP Address of replica server
  appserver_vmname: replica_mailbox.example.com             # Hostname of replica server

consul:                                                     # consul provider config
  hostname: 127.0.0.1
  port: 8500
  token: "123456-1234-aa01-bb02-b55a4b90620a"               #Token obtained running service-discover bootstrap-token
                                      
  
